* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.3;
}

a{
    text-decoration: none;
    color: black;
    
}

li {
    list-style: none;
    
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
}

@media (max-width:720px) {
    .hide-for-mobile {
        display: none;
    }
}


@media(min-width:700px){
    .hide-for-desktop {
        display: none;
    }
}